.wrap {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.imgBox {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.img {
  width: 300px;
  height: 450px;
  display: inline;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}
.info {
}
.boxBtn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list {
  list-style-type: none;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  background-color: #969696;
  color: white;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  max-width: 150px;
  /*
  max-width: 150px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px grey; */
}

.active {
  /* background-color: white; */
  color: red;
}
